table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 25%;
  margin: 10px;
}
th.mat-sort-header-sorted {
  color: black;
}
table mat-form-field {
  margin-top: 0px;
  margin-bottom: 0px;
}
.badge {
    background: darkgrey;
    border-radius: 30px;
    color: white;
    font-size: 12px;
    margin-right: 4px;
    min-width: 20px;
    padding: 2px;
    text-align: center;
}