.panel {
  margin: 0;
}
.menupanel {
  height: 100%;
}

.menupanelcontent {
  margin: 0;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

.row {
  text-align: center;
  align-content: center;
  vertical-align: middle;
  height: 20%;
}

.btn {
  border-radius: 0;
  height: 20%;
  width: 100%;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
