<div class="panel panel-default menupanel">
  <div class="panel-body menupanelcontent">
    <button class="btn" title="Run" (click)="run()">
      <i class="fa fa-play"></i>
      </button>
    <button class="btn" title="Clear" (click)="clearCode()">
      <i class="fa fa-close"></i>
    </button>
    <button class="btn" title="Beautify" (click)="beautify()">
        <i class="fa fa-star"></i>
      </button>
    <button class="btn" title="Previous" (click)="getHistory()">
        <i class="fa fa-history">
        </i>
      </button>
    <button class="btn" title="History" (click)="openHistoryModal()">
      <i class="fa fa-search"></i>
    </button>
  </div>
</div>
