<div class="panel panel-default menupanel">
  <div class="panel-body menupanelcontent">
    <div class="row">
      <a class="btn" title="Run" (click)="consoleCode()">
        <i class="fa fa-play">
        </i>
      </a>
    </div>
    <div class="row">
      <a class="btn" title="clear" (click)="consoleCode()"><i class="fa fa-close"></i></a>
    </div>
    <div class="row">
      <a class="btn" title="Beautify" (click)="beautifyContent()">
        <i class="fa fa-star">

        </i>
      </a>
    </div>
    <div class="row">
      <a class="btn" title="previous Query">
        <i class="fa fa-history">

        </i>
      </a>
    </div>
    <div class="row"><a class="btn" title="Search">
      <i class="fa fa-search">

      </i>
    </a></div>


  </div>


</div>
